<div class='gci-heading gci-heading-1'>Code of Conduct</div>


<p>KDE is dedicated to providing an enjoyable WikiToLearnConf experience for everyone. As a community, we value and respect all people, regardless of gender identity, sexual orientation, race, ability, shape, size or preferred desktop environment. We will not tolerate vilification, abuse or harassment in any form.</p>

<p>We appreciate that cultural differences may cause misunderstandings, so we will try to clarify these and smooth misunderstandings as they arise. But we also expect people to avoid playing dumb, and to make an effort to ensure a pleasant conference experience for everyone.</p>

<p>Conference participants behaving in ways that run counter to these principles risk being denied entrance or expelled from the conference at the discretion of the conference organizers. Conference speakers and other more visible figures especially should be aware of these concerns.</p>

<p>Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, unauthorized or inappropriate photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behaviour are expected to comply immediately.</p>

<p>If a participant engages in harassing behaviour, the conference organizers may take any action they deem appropriate, including warning the offender or expelling them from the conference. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of the conference team immediately. The conference team can be identified by their WikiToLearn t-shirts. </p>

<p>The conference team will be happy to help participants contact venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>

<p>The conference team can be reached:</p>
<ul class="gci-unordered-list">
<li>in person at the registration desk</li>
<li>by email to <a href="mailto:wtlconfindia@wikitolearn.org">wtlconfindia@wikitolearn.org</a></li>
</ul>

<p>Additional phone numbers in case of an emergency:</p>
<ul class="gci-unordered-list">

<li>Law enforcement/Emergency/Medical: 100</li>
</ul>

<p>We expect participants to follow these guidelines and the <a href="https://www.kde.org/code-of-conduct/">KDE Code of Conduct </a> at all conference venues and conference-related social events. We are committed to a fun and productive conference for all attendees, and believe that this policy will help achieve that goal.</p>

<p>We ask for the cooperation of all attendees in achieving our goal. Thank you!</p>
