<div class='gci-heading gci-heading-1'>FAQ</div>
<div>

<p><a href="#1"><strong>Q. What is the registration fee for the event?</strong></a></p>
<p><a href="#3"><strong>Q. Will we be able to tweet about all the awesomeness at the WikiToLearn India Conference?</strong></a></p>
<p><a href="#4"><strong>Q. How many tracks will the talks be organized into?</strong></a></p>
<p><a href="#5"><strong>Q. What are the timings of the event?</strong></a></p>

<p id="1">&nbsp;</p>
<strong>Q. What is the registration fee for the event?</strong>
<p>As, WikiToLearnConfIndia is an non-profit event the registration fees is Rs 300/- for the first round of registraions and Rs 500/- for late registration. Registration charge includes your snacks and lunch for the two days.</p>


<p id="3">&nbsp;</p>
<strong id="3">Q. Will we be able to tweet about all the awesomeness at the conference?</strong>
<p>Of course you can! Just tag all your tweets <a href="https://twitter.com/search?q=%23WTLConfIN17" target="_blank">#WTLConfIN17</a>.</p>


<p id="4">&nbsp;</p>
<strong id="4">Q. How many tracks will the talks be organized into?</strong>
<p>We love going to conferences that don't make you choose between two great presentations. So we created WikiToLearnConfIndia as a single-track event that you don't want to miss and where everyone gets the opportunity to see the same talks. We think you'll enjoy the speakers we're lining up so much, you won't want to miss anyone of them.</p>


<p id="5">&nbsp;</p>
<strong id="5">Q. What are the timings of the event?</strong>
<p>Registrations will open at 8:00 am on Wednesday, 18 January 2017 and day 1 will run upto 5:35 pm. The talks on
day 2, 19 January 2017 will start at 9:00 am and run upto 5:15 pm. This is subject to change.</p>


<p>&nbsp;</p>

</div>
