<div class='gci-heading gci-heading-1'>Travelling to Jaipur</div>

<p>Jaipur, Rajasthan’s capital, is an enthralling historical city and the gateway to India’s most flamboyant state. Jaipur is easily accessible by air, rail and road.</p>

<div class='gci-heading gci-heading-2'>By Air</div>
<p>The city has an international airport; it is known as the Jaipur International Airport.

It is located in the southern suburb of Sanganer, 13 km (8.1 mi) from Jaipur. Bus and taxi services are easily available to travel from the airport.
</p>

<div class='gci-heading gci-heading-2'>By Rail</div>
<p>Jaipur has one railway station : Jaipur Junction Railway Station. The Western Railway Zone of the Indian Railways caters to the city of Jaipur. Jaipur is well linked with major cities and states of India. </p>

<div class='gci-heading gci-heading-2'>By Bus</div>
<p>Jaipur is well connected by road to adjoining cities and states via several state and national highways. KThe city is also well connected with several state highways. Buses and taxis services are available daily in Jaipur. </p>

<div class='gci-heading gci-heading-2'>City Transport</div>
<p>Taxis can be hired from taxi stands located all over the city. Major taxi stands are located outside the city railway stations. Other options are auto-rickshaws and private rent-a-cars and bikes. </p>

<br clear="all" />
<div class='gci-heading gci-heading-1'>How to reach the venue</div>

<div class='gci-heading gci-heading-2'>From Airport</div>

<p>LNMIIT is located about 24km from the airport. There are prepaid taxis available at the airport.</p>
<p>You can also book cabs using Uber or Ola Cabs apps in Jaipur.</p>


<div class='gci-heading gci-heading-2'>From train stations</div>

<p>The Jaipur Junction railway station is around 20km from the LNMIIT. You can travel by prepaid taxi or auto rickshaw from either station.</p>

<div class='gci-heading gci-heading-2'>From bus stand</div>

<p>If you're traveling by bus to Jaipur, bus stand is about 17km from the venue. You can take a taxi or an auto rickshaw from here.</p>
