<section id="about" class="container content-section homepage">
  <div class="row">
	<div class="col-lg-3 sticker">

	</div>
    <div class="col-lg-9">
      <div class="clear-fix">

        <div style="overflow: hidden; padding-top:30px; padding-left:20px;">
          <h2>About WikiToLearnConf India</h2>
          <div class="head-first-ever"> WikiToLearnConf India is a global event comprising WikiToLearn, Mediawiki and KDE developers from all over India and world.</div>
          <p class="home-paragraph">This year our event is a 2 day, single track event focused on WikiToLearn, Mediawiki, KDE and Open Source Software.
            While we welcome all kinds of talks, we would love to have more talks around Mediawiki and KDE.</p>
          <p class="home-paragraph">We are lining up speakers from well known international and Indian WikiToLearn, Wikimedia and KDE community.
            We are accepting talks till 5th January 2017. Please submit your talks <a href="https://www.papercall.io/wtlindconf/">here.</a></p >

          <p class="strong">Note: The conference is entirely in English.</p>
        </div>
      </div>
    </div>
  </div>
</section>
