<section id="about" class="container content-section homepage">
  <div class="row">
	<div class="col-lg-4 sticker logomain">
      <div class="logo-container rotateIn">
        <div class="one  infinite"></div>
        <div class="two pulsate"></div>
        <div class="three pulsate"></div>
        <div class="four pulsate"></div>
        <div class="five pulsate"></div>
        <div class="six pulsate"></div>
        <div class="seven pulsate"></div>
        <div class="eight pulsate"></div>
        <div class="nine pulsate"></div>
        <div class="ten pulsate"></div>
        <div class="eleven pulsate"></div>
        <div class="twelve pulsate"></div>
        <div class="thirteen pulsate"></div>
        <div class="fourteen pulsate"></div>
        <div class="fifteen pulsate"></div>
        <div class="sixteen pulsate"></div>
        <div class="seventeen pulsate"></div>
        <div class="eighteen pulsate"></div>
        <div class="nineteen pulsate"></div>
        <div class="twenty pulsate"></div>
        <div class="twentyone pulsate"></div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="clear-fix">

        <div style="overflow: hidden; padding-top:30px; padding-left:20px;">
          <h2>About WikiToLearnConf India</h2>
          <div class="head-first-ever"> WikiToLearnConf India is a global event comprising WikiToLearn, Mediawiki and KDE developers from all over India and world.</div>
          <p class="home-paragraph">This year our event is a 2 day, single track event focused on WikiToLearn, Mediawiki, KDE and Open Source Software.
            While we welcome all kinds of talks, we would love to have more talks around Mediawiki and KDE.</p>
          <p class="home-paragraph">We are lining up speakers from well known international and Indian WikiToLearn, Wikimedia and KDE community.
            We are accepting talks till 5th January 2017. Please submit your talks <a href="https://www.papercall.io/wtlindconf/">here.</a></p >

          <p class="strong">Note: The conference is entirely in English.</p>
        </div>
      </div>
    </div>
  </div>
</section>
