<section id="speaker" class="content-section text-center download-section homepage">
    <div class="container">
        <h2 class="speaker-title">Speakers</h2>
        <p class="home-paragraph">We're looking for speakers who wish to give a talk at WikiToLearnConf India 2017. If you're interested kindly send your <a href="https://www.papercall.io/wtlindconf" target="_blank">talk proposal</a> today.</p>
        <p class="home-paragraph last">We are accepting all types of talk proposals till <b>5th January, 2017.</b></p>

        <div class="speakers-wrapper text-left">
            <div class="row speaker">
                <div class="col-sm-2 image center">
                    <div class="image-box">
                        <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/ruphy.jpg">
                    </div>
                </div>
                <div class="col-sm-10">
                    <p class="name">Riccardo Iaconelli</p>
                    <p class="company"><a href="https://twitter.com/ruphy" target="_blank">@ruphy</a></p>
                    <p class="about-speaker">Riccardo is a free software developer since the age of 13 from Milano, Italy. FSFE Fellow and Mozilla Tech Speaker. He has been an advocate of open principles for more than 10 years. He now leads WikiToLearn, an initiative to open
                        and share creative content produced in universities, schools and research centers.</p>
                </div>
            </div>

            <div class="row speaker">
                <div class="col-sm-2 image center">
                    <div class="image-box">
                        <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/tony.jpg">
                    </div>
                </div>
                <div class="col-sm-10">
                    <p class="name">Tony Thomas</p>
                    <p class="company"><a href="https://twitter.com/01tonythomas" target="_blank">@01tonythomas</a></p>
                    <p class="about-speaker">Tony Thomas volunteers as the Organization Administrator for Google Summer of Code (round 12) and Outreachy (round 12-13) with the Wikimedia Foundation. He started with his contirbutions to the Mediawiki codebase back in September
                        2013, and did his GSoC with the Wikimedia Foundation in 2014. Post succesfull deployment of his project in production, he volunteered as a GSoC mentor in the 2015 and 2016 GSoC rounds as well with the Foundation. He had been part
                        of various meetups and Hackathons with the Foundation at SFO, France, Italy, Israel and parts of India too. Apart from his involvments with Wikimedia, Tony Thomas currently interns with Igalia, and develops web in Python, Angular
                        and PHP. He is currently doing his Masters in Internet Technologies and Architecture at T U Berlin, from where he would be joining us. </p>
                </div>
            </div>

            <div class="row speaker">
                <div class="col-sm-2 image center">
                    <div class="image-box">
                        <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/harish.jpg">
                    </div>
                </div>
                <div class="col-sm-10">
                    <p class="name">Harish Navnit</p>
                    <p class="company"><a href="https://twitter.com/harishnavnit" target="_blank">@harishnavnit</a></p>
                    <p class="about-speaker">Harish is a free software enthusiast and has been involved with promotional and technical activites with the KDE community for almost half a decade now. He has been a Season of KDE participant as well as being involved in two Google
                        Summer of Code projects with KDE in the past couple of years. He's excited to have the chance to share his experiences during the #WTLIndiaConf and will be speaking, in particular, about how the build systems of most KDE projects
                        look like.</p>
                </div>
            </div>

            <div class="row speaker">
                <div class="col-sm-2 image center">
                    <div class="image-box">
                        <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/sagar.jpg">
                    </div>
                </div>
                <div class="col-sm-10">
                    <p class="name">Sagar Chand Agarwal</p>
                    <p class="company"><a href="https://twitter.com/sagaragarwal94" target="_blank">@sagaragarwal94</a></p>
                    <p class="about-speaker">Sagar Chand Agarwal, Google Summer of Code 2015 Student , Google Code In Mentor 2015, Season of KDE Mentor 2015, Google Summer of Code 2016 Mentor, KDE Developer, Freelancer and Consultant for over 2 years. Community is everything
                        that matter to him, Loves to give talks and sessions varying from Programming stuffs to Community Ideas.</p>
                </div>
            </div>

            <div class="row speaker">
                <div class="col-sm-2 image center">
                    <div class="image-box">
                        <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/srijan.jpg">
                    </div>
                </div>
                <div class="col-sm-10">
                    <p class="name">Srijan Agarwal</p>
                    <p class="company"><a href="https://twitter.com/srijancse" target="_blank">@srijancse</a></p>
                    <p class="about-speaker">Srijan Agarwal, Google Summer of Code 2016 Student, Google Code In Mentor 2016, Core Developer at WikiToLearn is a sophomore studying Computer Science Engineering at Amrita University. He believes in Open Culture and hacks with JS
                        and PHP on Mediawiki. He is a mentor at <a href="http://foss.amrita.ac.in">FOSS@Amrita </a>and has been regularly promoting Open Source and WikiToLearn. He has delivered talks at Mediawiki Hackathon BITS Pilani Hyderabad Campus
                        2016, MediaWikiToLearn Hackathon Amrita University 2016 and FUDCon Phnom Penh, Cambodia, 2016. </p>
                </div>
            </div>

            <div class="row speaker">
                <div class="col-sm-2 image center">
                    <div class="image-box">
                        <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/abhimanyu.jpg">
                    </div>
                </div>
                <div class="col-sm-10">
                    <p class="name">Abhimanyu Singh Shekhawat</p>
                    <p class="company"><a href="https://telegram.me/@abhimanyu_shekhawat" target="_blank">@abhimanyu_shekhawat</a></p>
                    <p class="about-speaker">Abhimanyu Singh Shekhawat believes in solving real life problems with code. He has experience is designing software solutions for various agencies and was Google Summer of Code student with KDE in 2016. Currently he is pursuing B.E.(Hons.)
                        Computer Science (3 year) from BITS Pilani K.K. Birla Goa Campus.</p>
                </div>
            </div>

            <div class="row speaker">
                <div class="col-sm-2 image center">
                    <div class="image-box">
                        <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/haritha.jpg">
                    </div>
                </div>
                <div class="col-sm-10">
                    <p class="name">Haritha Harikumar</p>
                    <p class="company"><a href="https://twitter.com/haritha28" target="_blank">@haritha28</a></p>
                    <p class="about-speaker">Haritha is an Open Source enthusiast and a Mediawiki contributor since 2015. She is an active member of FOSS@Amrita and a technical mentor at ThinkFOSS. She believes in the motto of Code, Share and Grow. She is an advisor for #include
                        program organised by SHE++.</p>
                </div>
            </div>

            <div class="row speaker">
                <div class="col-sm-2 image center">
                    <div class="image-box">
                        <img alt="speaker image" src="{{ site.github_project_name }}/assets/images/speakers/jay.jpg">
                    </div>
                </div>
                <div class="col-sm-10">
                    <p class="name">Jayaditya Gupta</p>
                    <p class="company"><a href="https://twitter.com/jayssj1" target="_blank">@jayssj1</a></p>
                    <p class="about-speaker">Jayaditya Gupta, Google Summer of Code 2016 Student, Google Code-in Mentor 2016 and a Developer of WikiToLearn Desktop Client. He mostly deals with Web Development, Application Development and Online Security. He is currently learning
                        and exploring the Qt world. Other than that he loves to play warchalls and CTFs.</p>
                </div>
            </div>

        </div>
</section>
