<section id="sponsor" class="sponsor-section homepage">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Sponsors</h2>
                <p class="text-cetner"><a href="#contact" class="btn btn-lg btn-warning" target="_blank">Sponsor Us &nbsp; <span class="glyphicon glyphicon-cloud-download"></span></a></p>
                <p class="home-paragraph">WikiToLearnConfIndia is organised by a community of passionate Indian WikiToLearn and KDE developers on a volunteer-basis. We can't put on a great show without some great sponsors. Here is your chance to reach the decision makers and developers from hundreds of top companies. WikiToLearnConfIndia has a capacity of up to 300 attendees and there are sponsorship opportunities to fit any budget. Be part of the first ever WikiToLearn conference in India and help us make history.</p>
                <p class="home-paragraph">Interested in sponsoring WikiToLearnConfIndia 2017? Contact us!</p>
      </div>
    </div>
  </div>
</section>
